In [1]:
import pandas as pd
from pandas import DataFrame

In [2]:
data_url: str = "https://github.com/JoseRZapata/Data_analysis_notebooks/raw/refs/heads/main/data/datasets/datos_credito_alemania_data.csv"

df: DataFrame = pd.read_csv(data_url, low_memory=False)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4846 entries, 0 to 4845
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Duration           4699 non-null   float64
 1   Checking account   2732 non-null   object
 2   Credit amount      4576 non-null   object
 3   Purpose            4686 non-null   object
 4   Job                4635 non-null   float64
 5   Job                4635 non-null   float64
 6   Sex                4617 non-null   object
 7   Sex                4617 non-null   object
 8   Checking account   2732 non-null   object
 9   Purpose            4686 non-null   object
 10  csv                0 non-null      float64
 11  data_source        4844 non-null   object
 12  Saving accounts    3788 non-null   object
 13  Housing            4622 non-null   object
 14  Risk               4715 non-null   object
 15  Age                4705 non-null   object
 16  value              4844 non-null   float64
 17  Unnamed: 0         4685 non-null   float64
dtypes: float64(6), object(12)
memory usage: 681.6+ KB

In [3]:
df.sample(10)

,Duration,Checking account,Credit amount,Purpose,Job,Job,Sex,Sex,Checking account,Purpose,csv,data_source,Saving accounts,Housing,Risk,Age,value,Unnamed: 0
2578,6.0,moderate,2063,radio/TV,3.0,3.0,male,male,moderate,radio/TV,NaN,kaggle,little,rent,good,30,391779.0,937.0
1800,24.0,NaN,1525,car,2.0,2.0,female,female,NaN,car,NaN,kaggle,rich,own,good,34,391779.0,327.0
4070,12.0,NaN,3331,furniture/equipment,2.0,2.0,male,male,NaN,furniture/equipment,NaN,kaggle,little,own,good,42,391779.0,867.0
2080,12.0,little,697,car,2.0,2.0,male,male,little,car,NaN,kaggle,little,own,bad,46,391779.0,925.0
1197,18.0,little,3966,car,2.0,2.0,female,female,little,car,NaN,kaggle,little,rent,bad,33,391779.0,826.0
1033,26.0,moderate,7966,car,2.0,2.0,male,male,moderate,car,NaN,kaggle,little,own,good,30,391779.0,525.0
3819,24.0,rich,NaN,radio/TV,1.0,1.0,female,female,rich,radio/TV,NaN,kaggle,quite rich,own,good,57,391779.0,975.0
3205,12.0,moderate,7472,car,0.0,0.0,female,female,moderate,car,NaN,kaggle,NaN,rent,good,24,391779.0,804.0
4169,30.0,rich,3656,radio/TV,1.0,1.0,male,male,rich,radio/TV,NaN,kaggle,NaN,own,good,49,391779.0,956.0
2063,10.0,NaN,1364,car,2.0,2.0,female,female,NaN,car,NaN,kaggle,little,own,good,64,391779.0,219.0

So.. we can clearly see we got some duplicated columns: Job and Sex, and an 'Unnamed 0' column.

Let's check dups cols are literaly the same.

In [4]:
df.columns

Index(['Duration', 'Checking account', 'Credit amount', 'Purpose', 'Job ',
       'Job', 'Sex ', 'Sex', 'Checking account ', 'Purpose ', 'csv',
       'data_source', 'Saving accounts', 'Housing', 'Risk', 'Age', 'value',
       'Unnamed: 0'],
      dtype='object')

In [5]:
df["Sex"].equals(df["Sex "])

True

In [6]:
df["Job"].equals(df["Job "])

True

In [7]:
df["Purpose"].equals(df["Purpose "])

True

In [8]:
df["Checking account"].equals(df["Checking account "])

True

In [9]:
df["csv"].unique()  # how nice! A column full of NaNs

array([nan])

In [10]:
df["value"].unique()  # all values are the same?

array([391779.,     nan])

In [11]:
print(df["data_source"].unique())

df[df["data_source"].isna()]

['kaggle' nan]

,Duration,Checking account,Credit amount,Purpose,Job,Job,Sex,Sex,Checking account,Purpose,csv,data_source,Saving accounts,Housing,Risk,Age,value,Unnamed: 0
1807,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df["Unnamed: 0"].unique()  # gotta look up what is this column about

array([613., 733., 203., 472., 174., 420.,  52., 120., 283.,  42., 404.,
       402., 749.,  17., 889., 851., 677., 275., 350., 360.,  56., 564.,
       952., 790., 457., 370., 696.,  38., 855.,   8.,  15., 286.,  nan,
       582., 727., 423., 251., 715., 585.,  24.,  96., 873., 707., 502.,
       230., 837., 478., 501., 764., 839., 937., 374., 722., 425., 297.,
       328.,  99., 834., 110., 529., 609., 644., 717., 185., 831., 398.,
       815., 870., 511., 452., 520., 628., 437., 416., 998., 315., 792.,
        23., 663., 702., 849., 901., 164., 413., 558., 674., 311., 351.,
       548., 306., 287., 264., 782., 832., 931., 617., 902., 846., 318.,
       818., 753., 408.,  13., 514., 409., 741., 313., 308., 860., 602.,
       729., 369., 382., 841.,  77., 767., 919., 394., 263., 680., 754.,
       346., 886., 949., 569., 316., 304., 427., 105., 924., 121.,  16.,
       150., 441., 219., 115., 915., 865., 847., 965.,  91., 705., 591.,
       247., 128., 742., 552.,  87., 138., 925.,  71.,   3., 543., 573.,
       494., 900., 777., 114., 816.,  32., 155., 716., 726., 357., 500.,
       698., 957., 655., 205., 913., 812., 557., 377., 535., 853., 693.,
       198., 561., 672., 590., 519., 553., 675., 808., 207., 712., 445.,
       648., 162., 456., 695., 256., 506., 983., 747., 123.,  20., 245.,
       381., 538., 988., 668.,  83., 659., 701., 204., 270., 793., 596.,
       334., 158., 993., 454., 429., 146., 714., 725., 458.,  78., 671.,
       964., 944., 762., 380., 226., 651., 775., 686., 945., 305., 209.,
       867., 118., 345., 279., 562., 670., 703., 970., 483., 798., 277.,
       682., 221., 571., 411., 961., 252., 976.,  26., 633., 447., 510.,
       170.,  82., 359., 800., 710., 829., 294., 414., 588., 487., 592.,
       802., 665., 620., 940., 436., 807., 163., 393., 534.,  30., 744.,
       905., 746., 195., 766., 719., 927., 165., 349., 223., 518., 344.,
       556., 861., 324., 280., 352., 738., 594., 947., 261., 214., 748.,
       827., 567., 859., 329., 854., 996., 300., 810., 761., 891., 453.,
       601., 175., 368.,  37.,  64., 379., 946.,  39., 462., 883., 978.,
       331., 216., 194., 863., 634., 322., 266., 615., 579.,   0., 488.,
       973., 828., 589., 884., 189., 916.,   9., 923., 801., 572., 791.,
       781., 512., 909., 772., 563., 685.,  11., 505., 752., 575., 930.,
       482., 475., 365., 669.,  51., 479., 309., 906., 647., 822., 583.,
       570., 771., 852., 523., 152., 485., 503., 652., 929., 984.,  19.,
       343., 888., 882., 584., 704., 622., 878., 292., 721., 879., 776.,
       955., 141., 522.,   2., 576., 233., 339., 358., 990., 265., 376.,
       137., 911., 439., 271., 638.,  73., 244., 481., 476., 639., 166.,
       260., 473., 979., 607., 415., 273., 858., 780., 881., 250., 432.,
       438., 856., 310., 893., 418., 935., 499., 711., 981., 348.,  59.,
       645., 526., 406., 363., 977., 182., 985., 289., 684., 419., 187.,
       619., 658., 151., 687., 272., 614., 489., 932., 994., 461., 371.,
       222., 593., 580., 890., 108., 136., 912., 242., 662., 755., 908.,
       814., 465., 262., 982., 293., 699., 565.,  49., 728., 274., 172.,
       101.,   6., 107., 997., 805., 880.,  72., 917., 113., 857., 451.,
       872., 405., 757., 455., 650., 213., 743., 806., 824., 332., 871.,
       148., 959.,  68., 692., 201., 877., 161., 921., 167., 730., 864.,
       788., 953., 401.,  76., 706.,  41., 819., 431., 796.,  40., 493.,
       236., 551., 111., 720., 631.,  95., 697., 939., 904.,   7., 295.,
       347., 509., 745.,  93., 513.,  81., 914., 817., 259., 774., 943.,
       577., 899., 468., 181., 490., 838., 144., 679., 361., 353., 177.,
       813., 327., 442.,  53., 335.,  86., 928.,  35., 987., 464., 600.,
       285., 428.,  31., 951., 232., 732., 326., 560., 654., 341., 147.,
       440., 966., 640., 471.,  62., 422., 397., 866.,  85., 836., 950.,
       231., 412., 938., 763., 385.,  88., 243., 936., 933., 312., 954.,
       968., 660., 566., 391., 778., 255., 156., 126., 887., 355., 629.,
       140., 624.,  10., 142., 626., 129., 843., 323., 934.,  14., 474.,
       215., 372., 750.,  25., 516., 597., 288., 823., 533., 688., 549.,
       922.,  92., 477., 641., 770., 390., 578., 157., 784., 820., 999.,
       664., 267., 421., 799., 809., 971., 131.,  34., 116., 430., 724.,
       212., 269., 224.,  67., 450.,  54., 375., 333., 234., 862., 910.,
       188., 320.,  12., 897., 171., 302., 258., 844., 319., 653., 139.,
       112., 531., 723., 835., 657., 325., 130., 193., 467.,   5., 459.,
       527., 547., 228., 542., 898., 199., 135., 842., 941., 229., 276.,
       661., 618., 314., 691., 612., 424., 986., 384., 227., 178., 737.,
       610., 149., 530., 803., 536., 811., 180., 466., 117., 484., 525.,
       972., 362., 517., 903., 498., 119., 364.,  27., 623., 718., 848.,
       410., 336., 974., 106., 238., 206.,  33., 603.,  94., 296., 642.,
       434., 666., 246., 532., 125., 545.,  29., 183., 132.,  80., 191.,
       678., 758., 541., 211., 248., 446., 220., 926.,  97., 237., 366.,
       102.,  74., 616., 918., 894., 989., 388., 235., 673., 249., 875.,
       179., 448., 676., 407.,  65., 515., 396., 104., 435., 826., 496.,
       830., 145., 656., 373., 599., 833., 449., 708., 389., 444., 186.,
       751., 460., 736., 958., 739., 868., 731., 539., 769., 907., 555.,
       713., 667.,  36., 967., 783., 735., 470., 845.,   1., 154., 896.,
       492.,  69., 160., 804., 885.,  79., 740., 403., 568., 133., 504.,
       980., 386., 795., 635., 559., 159., 773., 892., 508., 956., 124.,
       338., 785., 756.,  28., 969., 794.,  21., 169., 281., 765., 821.,
       491., 587., 606., 321., 630., 143., 709., 850., 192., 734.,  75.,
       395., 176., 595., 426., 278., 153., 960., 991., 690., 317., 497.,
        22., 760., 895., 786.,   4., 254., 825., 417., 550., 604., 962.,
        89., 284., 759.,  45., 463.,  55., 173., 689., 103., 257., 387.,
       400., 768., 521., 356., 240., 340., 217., 378., 876.,  63., 789.,
       627., 649., 268., 787., 694., 200., 681., 574., 683., 399., 524.,
       920., 495., 537., 291., 625., 127., 611., 190., 992., 301., 637.,
       546., 797., 109., 225., 298., 469., 779., 208.,  98., 874., 253.,
        50.,  48., 586., 392., 239.,  43., 608., 197., 122., 202.,  44.,
       241.,  84., 643., 134., 540., 507., 486.,  90., 303., 100., 632.,
       840., 869., 337., 995., 184., 646., 975., 290., 330.])

In [13]:
df["Unnamed: 0"].value_counts()

Unnamed: 0
671.0    15
676.0    13
675.0    11
672.0    11
674.0    10
         ..
417.0     2
56.0      2
44.0      2
84.0      2
275.0     2
Name: count, Length: 965, dtype: int64

In [ ]:
DUPLICATE_ROW_INDEX: int = 671
df[
    df["Unnamed: 0"] == DUPLICATE_ROW_INDEX
]  # we can clearly see that we have got some duplicateted rows.

,Duration,Checking account,Credit amount,Purpose,Job,Job,Sex,Sex,Checking account,Purpose,csv,data_source,Saving accounts,Housing,Risk,Age,value,Unnamed: 0
242,36.0,NaN,5742,business,2.0,2.0,male,male,NaN,business,NaN,kaggle,moderate,own,good,31,391779.0,671.0
506,36.0,NaN,5742,business,2.0,2.0,male,male,NaN,business,NaN,kaggle,moderate,own,good,31,391779.0,671.0
802,36.0,NaN,5742,business,2.0,2.0,male,male,NaN,business,NaN,kaggle,moderate,own,good,31,391779.0,671.0
1288,36.0,NaN,5742,business,2.0,2.0,male,male,NaN,business,NaN,kaggle,moderate,own,good,31,391779.0,671.0
1575,36.0,NaN,5742,business,2.0,2.0,male,male,NaN,business,NaN,kaggle,moderate,own,good,31,391779.0,671.0
2165,36.0,NaN,5742,business,2.0,2.0,male,male,NaN,business,NaN,kaggle,moderate,own,good,31,391779.0,671.0
2429,36.0,NaN,5742,business,2.0,2.0,male,male,NaN,business,NaN,kaggle,moderate,own,good,31,391779.0,671.0
2725,36.0,NaN,5742,business,2.0,2.0,male,male,NaN,business,NaN,kaggle,moderate,own,good,31,391779.0,671.0
3211,36.0,NaN,5742,business,2.0,2.0,male,male,NaN,business,NaN,kaggle,moderate,own,good,31,391779.0,671.0
3498,36.0,NaN,5742,business,2.0,2.0,male,male,NaN,business,NaN,kaggle,moderate,own,good,31,391779.0,671.0
4376,36.0,NaN,5742,business,2.0,2.0,male,male,NaN,business,NaN,kaggle,moderate,own,good,31,391779.0,671.0
4404,36.0,NaN,5742,business,2.0,2.0,male,male,NaN,business,NaN,kaggle,moderate,own,good,31,391779.0,671.0
4509,36.0,NaN,5742,business,2.0,2.0,male,male,NaN,business,NaN,kaggle,moderate,own,good,31,391779.0,671.0
4624,36.0,NaN,5742,business,2.0,2.0,male,male,NaN,business,NaN,kaggle,moderate,own,good,31,391779.0,671.0
4782,36.0,NaN,5742,business,2.0,2.0,male,male,NaN,business,NaN,kaggle,moderate,own,good,31,391779.0,671.0

Some conclusions until now: I can get rid off 'Sex ', 'Job ', 'Purpose ', 'Checking account ', 'value' and 'csv' columns as well as 'data_source', but 'data_source' I'll leave it for the data cleaning part.

Unnamed 0 column it's the row unique identifier (id). But the raw data was messed with, duplicating some rows. So this column doesn't follow an expected id distribution.

TODO: Find and delete all dups rows using this column.

In [ ]:
inspected = df.drop(columns=["Sex ", "Job ", "Purpose ", "Checking account ", "value", "csv"])

In [16]:
inspected.to_csv(r"..\data\raw_german_credit_data.csv", index=False)

### Questions
#### What is the objective of the problem?
To tell if a given credit request is good (low risk) or bad (high risk) for a bank. 
#### How will your solution be used?
- Help to determine most important variables for a low or high risk credit.
- Assist banks for discovering if a given credit request is either high or low on risk to the bank.
- Determine if a credit requested is given or not. 
#### What are the current solutions (if any)?
I did a quick research and found out that some banks currently use **S**upport **V**ector **M**achines for this labour.
#### How should this problem be framed (supervised/unsupervised, online/offline, etc.)
- Problem type: Supervised, Data is labeled and has a target column.
- Learning type: Classification, We'd like to know if a quiven credit request is risky or not.
- Mode of use: Off-line or On-line dependes on the bussiness case scenario.
#### How should the performance of the solution be measured, a first intuition?
The model performance evaluation metric would depend aswell on the bussiness case scenario and priorities.
- If it's more important to evict high risk credits, **recall** should be the metric to prioritize.
- If it's more important to evict denials of credits for good client, **precision** should be the metric to prioritize.
- If a balance between the two aspects mentioned above it's needed, **F1-score** should be the metric to prioritize.
#### Is the performance measure aligned with the objective of the problem?
Yes, the selected performance measures (Recall, Precision, or F1-score) align with the problem's objective. Since the goal is to classify credit requests into high-risk or low-risk categories, it's crucial to balance false positives (wrongly rejecting good clients) and false negatives (approving risky clients).

- If the primary goal is avoiding high-risk approvals, recall is appropriate.
- If the priority is minimizing the rejection of good clients, precision should be the focus.
- If both are equally important, F1-score is the best metric.

Thus, the chosen performance measure depends on the business priorities, but the overall approach is well-aligned with the problem's objective.
#### What would be the minimum performance or yield needed to achieve the objective of the problem?
For the model to be usefull:
- Some financial institutions might require at least 80-90% recall for high-risk detection to reduce defaults.
- AUC-ROC above 0.8 is often considered a good threshold in risk classification.
#### What are the similar problems? Can experiences or tools already created be reused?
Similar problems include:
- Fraud detection: Similar to credit risk classification, fraud detection models aim to classify transactions as fraudulent or legitimate. Techniques like decision trees, logistic regression, and neural networks are often used.
- Loan default prediction: Banks and financial institutions use machine learning to predict whether a borrower will default on a loan. This problem shares similar features, such as customer credit history, income, and transaction patterns.
- Customer churn prediction: Similar in that it requires identifying at-risk customers based on past behavior patterns.
#### Is there experience of the problem available?
- Traditional models: Logistic Regression, Decision Trees, Support Vector Machines (SVM)
- Advanced models: Gradient Boosting Machines (XGBoost, LightGBM), Neural Networks
- Regulatory frameworks: Basel Accords (Basel II, Basel III) provide guidelines for risk modeling in banking
- Publicly available datasets: Kaggle, UCI Machine Learning Repository, and financial institutions often provide anonymized datasets
#### (Important) How can the problem be solved manually?
1. Analyze the applicant’s financial history:
   - Check credit score (FICO score, bureau reports)
   - Verify income, employment stability, and debt-to-income ratio
2. Assess past repayment behavior:
   - Check missed payments, outstanding loans, and history of defaults
3. Review collateral (if applicable):
   - If the credit is secured, evaluate the value of the collateral
4. Check financial red flags:
    - Look for bankruptcies, excessive credit inquiries, or sudden financial changes
5. Use rule-based decision-making:
   - Banks often have threshold-based rules (e.g., FICO < 600 = high risk)
6. Expert review:
   - A loan officer manually reviews the information before approving or rejecting the request
#### List the assumptions that exist at this time.
- Data is available and labeled: The dataset includes enough labeled examples of high- and low-risk credit requests.
- Features are meaningful: Variables like income, credit score, and repayment history contribute to risk classification.
- The problem is a binary classification task: Credit is either high-risk or low-risk, without a middle category.
- Class imbalance is expected: There are typically fewer high-risk credit requests compared to low-risk ones.
- Feature engineering will be required: Some raw data may need transformations, such as encoding categorical variables or handling missing values.